# Shared
NODE_ENV=development

# RPC
BASE_SEPOLIA_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=

# Deployer
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Fhenix/CoFHE
COFHE_NETWORK_PUBLIC_KEY=

# Frontend
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_GAME_ADDRESS=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_SUBGRAPH_URL=
